## Thanks to Haribro for the glyphs. I just had to update them to work.
## https://github.com/FHeilmann/klipper_config/blob/master/klipper_configs/lcd.cfg
#####################################################################
#       Display
#####################################################################
[display]
lcd_type: sh1106
i2c_mcu: display
i2c_bus: i2c1a
#encoder_steps_per_detent: 2
encoder_pins: ^display:PA3, ^display:PA4
click_pin: ^!display:PA1
kill_pin: ^!display:PA5
x_offset: 2
vcomh: 31