#####################################################################
#       Fan Control
#####################################################################

[heater_fan hotend_fan]
#5V
#pin: PC7
#24V
pin: picobilical:gpio3
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
shutdown_speed: 1.0

[fan]
pin: picobilical:gpio2
max_power: 1.0
kick_start_time: 0.5
off_below: 0.13
cycle_time: 0.010

[fan_generic nevermore_fan]
pin: gpio18
max_power: 1.0
kick_start_time: 0.3
off_below: 0.30
shutdown_speed: 0.0

[temperature_fan _electronics]
pin: gpio20
#max_power: 1.0
#shutdown_speed: 1.0
#cycle_time: 0.05
kick_start_time: 0.3
#off_below: 0.2
sensor_type: temperature_host
control: watermark
#max_delta:
min_temp: 10
max_temp: 100
target_temp: 55
max_speed: 0.4
min_speed: 0.2