#####################################################################
#	Shake dat ass..... hum dum dum dum
#####################################################################
[adxl345]
cs_pin: rpi:None
#axes_map: x,z,-y
#   The accelerometer axis for each of the printer's x, y, and z axes.
#   This may be useful if the accelerometer is mounted in an
#   orientation that does not match the printer orientation. For
#   example, one could set this to "y,x,z" to swap the x and y axes.
#   It is also possible to negate an axis if the accelerometer
#   direction is reversed (eg, "x,z,-y"). The default is "x,y,z".

[mcu adxl]
serial: /dev/serial/by-id/usb-Klipper_rp2040_E66250758B486128-if00
[adxl345]
cs_pin: adxl:gpio9
spi_software_sclk_pin: adxl:gpio10
spi_software_mosi_pin: adxl:gpio11
spi_software_miso_pin: adxl:gpio12

[resonance_tester]
accel_chip: adxl345
probe_points:
    60,60,20

[input_shaper]
shaper_freq_x: 79.2
shaper_type_x: mzv
shaper_freq_y: 64.8
shaper_type_y: mzv