#####################################################################
#	Shake dat ass..... hum dum dum dum
#####################################################################
[adxl345]
cs_pin: rpi:None
axes_map: x,z,y
#   The accelerometer axis for each of the printer's x, y, and z axes.
#   This may be useful if the accelerometer is mounted in an
#   orientation that does not match the printer orientation. For
#   example, one could set this to "y,x,z" to swap the x and y axes.
#   It is also possible to negate an axis if the accelerometer
#   direction is reversed (eg, "x,z,-y"). The default is "x,y,z".

[resonance_tester]
accel_chip: adxl345
probe_points:
    60,60,20
