#####################################################################
#	Shake dat ass..... hum dum dum dum
#####################################################################
[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points:
    60,60,20
