######################
#     LED Macros     #
######################
[gcode_macro _SET_LEDS]
description: Set neopixel led values by index.
gcode:
    # command params
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = params.LED|string %}
    {% set index = (params.INDEX|string).split(',') %}
    {% set transmit_last = params.TRANSMIT|default(1) %}
    # variables

    {% for led_index in index %}
        {% set transmit=transmit_last if loop.last else 0 %}
        SET_LED LED={led} RED={red} GREEN={green} BLUE={blue} WHITE={white} INDEX={led_index} TRANSMIT={transmit}
    {% endfor %}

[gcode_macro _SET_LED_STATE_BY_NAME]
description: Set neopixel leds to a color based on a state name, if no LED is defined all leds will be set.
gcode:
    # command params
    {% set led_name = params.LED|lower %}
    {% set state_name = params.STATE|lower %}
    {% set transmit = params.TRANSMIT|default(1) %}
    # variables
    {% set neopixel_leds = printer["gcode_macro _PRINTER_VARIABLE"].neopixel_leds %}
    {% set neopixel_led = neopixel_leds[led_name] %}

    {% if led_name and not neopixel_led %}
        {% set array = namespace(output = "") %}
        {% set element = "Unknown LED '%s'. Defined leds are:" % (led_name) %}
        {% set array.output = array.output + element + "\n"%}
        {% for name, neopixel_led in neopixel_leds.items() %}
            {% set element = "'%s' " % (name) %}
            {% set array.output = array.output + element %}
        {% endfor %}
        {action_respond_info("%s" % (array.output))}
    {% elif led_name and neopixel_led %}
        {% set neopixel_state = neopixel_led.states[state_name] %}
        {% if neopixel_state %}
            _SET_LEDS LED={neopixel_led.name} RED={neopixel_state.r} GREEN={neopixel_state.g} BLUE={neopixel_state.b} WHITE={neopixel_state.w} INDEX="{neopixel_led.index}" TRANSMIT={transmit}
        {% endif %}
    {% else %}
        {% for led_name, neopixel_led in neopixel_leds.items() %}
            {% set neopixel_state = neopixel_led.states[state_name] %}
            {% if neopixel_state %}
                _SET_LEDS LED={neopixel_led.name} RED={neopixel_state.r} GREEN={neopixel_state.g} BLUE={neopixel_state.b} WHITE={neopixel_state.w} INDEX="{neopixel_led.index}" TRANSMIT={transmit}
            {% endif %}
        {% endfor %}
    {% endif %}

[gcode_macro _SET_LED_COLOR_BY_NAME]
description: Set neopixel leds to a color based.
gcode:
    # command params
    {% set led_name = params.LED|lower %}
    {% set color_name = params.COLOR|lower %}
    {% set transmit = params.TRANSMIT|default(1) %}
    # variables
    {% set neopixel_leds = printer["gcode_macro _PRINTER_VARIABLE"].neopixel_leds %}
    {% set neopixel_led = neopixel_leds[led_name] %}
    {% set neopixel_colors = printer["gcode_macro _PRINTER_VARIABLE"].neopixel_colors %}
    {% set neopixel_color = neopixel_colors[color_name] %}

    {% if not neopixel_color %}
        {% set array = namespace(output = "") %}
        {% set element = "Unknown COLOR '%s'. Defined colors are:" % (color_name) %}
        {% set array.output = array.output + element + "\n"%}
        {% for name, neopixel_color in neopixel_colors.items() %}
            {% set element = "'%s' " % (name) %}
            {% set array.output = array.output + element %}
        {% endfor %}
        {action_respond_info("%s" % (array.output))}
    {% elif led_name and not neopixel_led %}
        {% set array = namespace(output = "") %}
        {% set element = "Unknown LED '%s'. Defined leds are:" % (led_name) %}
        {% set array.output = array.output + element + "\n"%}
        {% for name, neopixel_led in neopixel_leds.items() %}
            {% set element = "'%s' " % (name) %}
            {% set array.output = array.output + element %}
        {% endfor %}
        {action_respond_info("%s" % (array.output))}
    {% elif led_name and neopixel_led %}
        {% if neopixel_led and neopixel_color %}
            _SET_LEDS LED={neopixel_led.name} RED={neopixel_color.r} GREEN={neopixel_color.g} BLUE={neopixel_color.b} WHITE={neopixel_color.w} INDEX="{neopixel_led.index}" TRANSMIT={transmit}
        {% endif %}
    {% else %}
        {% for led_name, neopixel_led in neopixel_leds.items() %}
            _SET_LEDS LED={neopixel_led.name} RED={neopixel_color.r} GREEN={neopixel_color.g} BLUE={neopixel_color.b} WHITE={neopixel_color.w} INDEX="{neopixel_led.index}" TRANSMIT={transmit}
        {% endfor %}
    {% endif %}

[gcode_macro _LED_PAUSE]
description: Pause for 1 second and let LED commands finish.
gcode:
    # command params
    {% set duration = params.DURATION|default(1000)|int %}

    M400
    G4 P{duration}
